.background {
  background-image: url(./XCPbackground.png);
}

html,
body {
  width: 100%;
  height: 100%;
}

table {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: "auto";
  max-height: "700px";
}

table tr {
  border-collapse: collapse;
}

table tr th {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  background: #5e6d8a;
  color: white;
  padding: 16px 0;
}

table tr td {
  padding: 4px;
}

table tr:nth-child(even) {
  background: #d2d8e3;
}

table tr:nth-child(odd) {
  background: white;
}

input[type="text"] {
  padding: 8px 4px;
  min-width: 300px;
}

label {
  margin-right: 2rem;
}

.input_box {
  margin: auto;
  width: 25%;
}

.MappingPlanner_title {
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
